<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">
	<display-name>Rest example</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
  
	<!--<servlet>
		<servlet-name>shop.service.App</servlet-name>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>shop.service.App</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>-->


	<!-- CXF config -->
<!-- 
	<servlet>
		<description>Apache CXF Endpoint</description>
		<display-name>cxf</display-name>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>jakarta.ws.rs.Application</param-name>
			<param-value>shop.service.App</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

 	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
 -->
</web-app>