<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>LB5jaxwsBookServiceWebClient</display-name>
    <context-param>
        <description>Wsdl location</description>
        <param-name>wsdl</param-name>
        <param-value>http://localhost:9000/books?wsdl</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <display-name>EncodingFilter</display-name>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.nure.order.server.filter.EncodingFilter</filter-class>
        <init-param>
            <description/>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>ua.nure.order.server.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <description>List existing books</description>
        <display-name>ListBooks</display-name>
        <servlet-name>ListBooks</servlet-name>
        <servlet-class>ua.nure.order.server.client.web.ListBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListBooks</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddBook</display-name>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>ua.nure.order.server.client.web.AddBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>DeleteBook</display-name>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>ua.nure.order.server.client.web.DeleteBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>FindBookByTitle</display-name>
        <servlet-name>FindBookByTitle</servlet-name>
        <servlet-class>ua.nure.order.server.client.web.FindBookByTitle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindBookByTitle</servlet-name>
        <url-pattern>/findtitle</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>FindBookByAuthor</display-name>
        <servlet-name>FindBookByAuthor</servlet-name>
        <servlet-class>ua.nure.order.server.client.web.FindBookByAuthor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindBookByAuthor</servlet-name>
        <url-pattern>/findauthor</url-pattern>
    </servlet-mapping>
</web-app>